<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main_layout}">

<th:block layout:fragment="css">
    <style>
        .contents{
            width: 500px;
            height: 500px;
            margin: 0 auto;
        }

        .board-form {
            margin-top: 10%;
        }

        #contents{
            resize: none;
            height: 180px;
        }
    </style>

</th:block>

<div layout:fragment="content">
    <!--여기 영역에만 코드 기입  -->
    <main class="container">
        <section class="contents">
            <header class="mt-5 text-center">
                <h3>게시글 수정</h3>
            </header>
            <section class="board-form">
                <form id="boardFrm">
                    <input type="hidden" id="currentPage" name="currentPage" th:value="${currentPage}">
                    <input type="hidden" id="seq" name="seq" th:value="${board.seq}">
                    <input type="hidden" id="isFile" name="isFile"  th:value="${isFile}">
                    <div class="mb-3">
                        <label for="title" class="form-label">제목</label>
                        <input type="text" class="form-control" id="title" name="title" th:value="${board.title}">
                    </div>
                    <div class="mb-3">
                        <label for="file" class="form-label">첨부파일</label>
                        <input type="file" class="form-control" id="file" name="file">
                    </div>
                    <div class="mb-3">
                        <label for="contents" class="form-label">내용</label>
                        <textarea id="contents" name="contents" class="form-control">[[ ${board.contents} ]]</textarea>
                    </div>
                </form>
            </section>
            <section class="text-center mt-4">
                <button type="button" class="btn btn-primary me-2" onclick="modifyBoard();">수정</button>
                <button type="button" class="btn btn-secondary" onclick="updateCancel();">취소</button>
            </section>
        </section>
    </main>
    <script>

        function validated () {
            const title = document.querySelector('#title');
            const contents = document.querySelector('#contents');

            if( title.value.trim().length === 0) {
                alert('제목을 입력하십시오.');
                title.focus();
                return false;
            }

            if( contents.value.trim().length === 0) {
                alert('내용을 입력하십시오.');
                contents.focus();
                return false;
            }

            const newFile = $('#file').val();
            const isFile = $('#isFile').val();

            if(isFile === 'true' &&  $.trim(newFile).length > 0) {
                const isConfirm = confirm("파일을 수정하면, 기존파일이 삭제됩니다.\n 진행하시겠습니까?");
                if(!isConfirm){
                    // 선택된 파일 삭제
                    $('#file').val('');
                    return false;
                }
            }

            return true;
        }

        const modifyBoard = () =>{

            if( validated() ) {
                //form가져오기
                const frm = $('#boardFrm');
                // 파일객체도 전송해야하기 때문에 formData 객체 생성
                // formData에  form 전체를 대입하여  key value 형태로
                // from 하위 input 들에 대한 데이터가 만들어짐
                const  formData = new FormData(frm[0]);

                //ajax call
                $.ajax(
                    {
                        url : '/board/modify',    //경로
                        type : 'post',    //전송 타입
                        dataType : 'json',     // 돌려받을 데이터 타입
                        data : formData,      // 전송할 데이터
                        processData: false,   //data를 querystring으로 변경할지 여부
                        contentType : false  // 파일전송할 때 off 하면 파일전송으로 처리됨
                    }
                ).done((res) =>{
                    alert(res.resultMsg);
                    if(res.resultCode === 200) {
                        location.href = '/board/list?currentPage=0';
                    }

                }).fail((xhr, status, error) =>{
                    console.log(error);
                })

            }
        }

        const updateCancel = () =>{
            const currentPage = $('#currentPage').val();
            const seq = $('#seq').val();
            location.href = `/board/detail/view?currentPage=${currentPage}&seq=${seq}`;
        }

    </script>
</div>
</html>
