<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:fragment="config">

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">

    <script th:src ="@{/webjars/jquery/3.7.1/dist/jquery.min.js}"></script>
    <script th:src ="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
    <script src ="/js/common.js"></script>

    <!-- content 영역에서 설정한 css를  config 파일에다 기입하기 위한 설정 -->
    <th:block layout:fragment="css"></th:block>

</th:block>

</html>