<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
  <div th:fragment="header">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
<!--        <a class="navbar-brand" href="#">Navbar w/ text</a>-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="menuList">
            <li class="nav-item">
              <a class="nav-link active" id="home" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="board" href="/board/list?currentPage=0">게시판</a>
            </li>
            <li class="nav-item" th:if="${session.userInfo != null && session.userInfo.isAuth }">
              <a class="nav-link" href="/user/list?currentPage=0">회원관리</a>
            </li>
          </ul>
          <span class="navbar-text">
            <span th:if="${session.userInfo!=null}">
                <span th:text="${session.userInfo.userName}"> </span> 님 환영합니다.
                <a href="javascript:void(0)" th:onclick="logOut()">로그아웃</a>
            </span>
            <span th:if="${session.userInfo==null}">
                <a href="/login/form">로그인</a>
            </span>
          </span>
        </div>
      </div>
    </nav>
    <script>

        function logOut() {
             location.href="/logout";
        }


        function setActiveMenu() {
          const menuIds = ['home', 'board'];
          //사용자가 요청한 경로 가져오기
          const requestPath = location.pathname;
          console.log(requestPath);

          for(let id of menuIds) {
            //경로에 지정한 id 값이 있다면
            if(requestPath.indexOf(id) > -1) {
                $('#menuList').find('li').find('a').removeClass('active');
                $('#'+id).addClass('active');
                break;
             }
           }
        }

    </script>
  </div>
</html>