<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.it.academy.myapp.user.mapper.UserMapper">

    <resultMap id="userRespMap" type="userResponse">
        <id property="userId" column="user_id" />
        <result property="userName" column="user_name"/>
        <result property="nickname" column="nickname"/> <!-- 🔥 추가 -->
        <result property="passwd" column="passwd"/>
        <result property="email" column="email"/>
        <result property="createDate" column="create_date"/>
        <result property="updateDate" column="update_date"/>
        <collection property="authList" ofType="userAuth">
            <id property="authId" column="auth_id"/>
            <result property="authName" column="auth_name"/>
        </collection>
    </resultMap>

    <insert id="addUser" parameterType="userRequest">
        INSERT INTO user_info(user_id, user_name, nickname, passwd, email)
        VALUES(#{userId}, #{userName}, #{nickname}, #{passwd}, #{email});
    </insert>

    <select id="getUserAuthList" resultType="userAuth">
        SELECT auth_id, auth_name
        FROM user_auth
        WHERE use_yn = 'Y' AND del_yn = 'N'
    </select>

    <insert id="addUserAuthMapping" parameterType="userAuthMapping">
        INSERT INTO user_auth_mapping(user_id, auth_id)
        VALUES(#{userId}, #{authId});
    </insert>

    <select id="countUserId" parameterType="String" resultType="int">
        SELECT COUNT(*) FROM user_info WHERE user_id = #{userId}
    </select>

    <select id="countEmail" parameterType="String" resultType="int">
        SELECT COUNT(*) FROM user_info WHERE email = #{email}
    </select>

    <select id="countNickname" parameterType="string" resultType="int">
        SELECT COUNT(*) FROM user_info
        WHERE nickname = #{nickname}
    </select>

    <!-- ✅ 로그인 사용자 정보 조회 쿼리 -->
    <select id="selectUserById" parameterType="string" resultType="userResponse">
        SELECT
        user_id,
        user_name,
        nickname,
        passwd,
        email,
        create_date,
        update_date
        FROM user_info
        WHERE user_id = #{userId}
    </select>
    <update id="updateUserInfo">
        UPDATE user_info
        SET nickname = #{nickname},
        email = #{email},
        update_date = NOW()
        WHERE user_id = #{userId}
    </update>


</mapper>
