<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.it.academy.myapp.user.mapper.UserMapper">

    <resultMap id="userRespMap" type="userResponse">
        <id property="userId" column="user_id" />
        <result property="userName" column="user_name"/>
        <result property="passwd" column="passwd"/>
        <result property="email" column="email"/>
        <result property="createDate" column="create_date"/>
        <result property="updateDate" column="update_date"/>
        <collection property="authList" ofType="userAuth">
            <id property="authId" column="auth_id"/>
            <result property="authName" column="auth_name"/>
        </collection>
    </resultMap>



    <insert id="addUser" parameterType="userRequest">
        INSERT INTO user_info(user_id, user_name, passwd, email)
        VALUES(#{userId}, #{userName}, #{passwd}, #{email});
    </insert>

    <select id="getUserAuthList" resultType="userAuth">
        select auth_id,
        auth_name
        from user_auth
        where use_yn = 'Y'
        and del_yn = 'N'
    </select>


    <insert id="addUserAuthMapping" parameterType="userAuthMapping">
        INSERT INTO user_auth_mapping(user_id, auth_id)
        VALUES(#{userId}, #{authId});
    </insert>

    <select id="countUserId" parameterType="String" resultType="int">
        SELECT COUNT(*) FROM user_info WHERE user_id = #{userId}
    </select>


</mapper>
